/* this is the index/thr about part */
body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 150%;
    color: #777777;
    background: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(196, 184, 184);
    text-align: center;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

p{
    color: black;
    margin-left: 20px;
    margin-right: 20px
}
header{
    background: white;
    height: 110px;
    padding-top: 10px;
}
.icons {
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
    float: left;
}
.titles {
    width: 300px;
    position: absolute;
    height: 75px;
    bottom: 0px;
    left: 0;
    background-color: #4aaaa5;
}
.images {
    width: 300px;
    margin: auto;
    height: 300px;
    bottom: 0;
    left: 0;
    position: absolute;
}
h1{
    float: left;
    color: #4aaaa5;
    background-color: white;
    padding: 30px;
    border: solid 5px #4aaaa5;
    margin: 0px 30px 30px 30px;
    margin-left: 200px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
    }
h2{

    color: black;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 300px;


}

.container {
width: 1024px;
margin: 0 auto;

}
#bio-image, #main-bio, #contact-info{
    float: left;
}
#main-bio {
    width: 70%;
    background: white;
    margin: 75px 150px;
    margin-top: 10px;
    
}
#bio-image {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    margin-left : 20px;
}

a{
    font-size: 20px;
    color: black;
    text-align: right;
    float: right;
    margin-right: 40px;

    

}
li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.btn-outline-primary{
    float: right;
    font-weight: 900;
    margin-right: 10
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;

}

.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
#linkskill{
    color: darkblue
}


.contactme{
    float: under;
}
#exampleFormControlTextarea1{
    size: 50%;
}

/* img {
    margin: 15px

} */
footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#666666;
   color: white;
   text-align: center;
   height: 50px;
   font-size: 10px;
}

#first {
    position: absolute;
  bottom: 225px;
  left: 450px;
  background-color: #4aaaa5
}

#second{
    position: absolute;
  bottom: 250px;
  left: 760px;
  background-color: #4aaaa5
}
#third{
    position: absolute;
  bottom: 10px;
  left: 450px;
  background-color: #4aaaa5
}
#forth{
    position: absolute;
  bottom: 10px;
  left: 780px;
  background-color: #4aaaa5
}
#fifth{
    position: absolute;
  bottom: -200px;
  left: 580px;
  background-color: #4aaaa5
}